# MongoDb

## Inevitable Inicializations

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-3.10.1-cp37-cp37m-manylinux2014_x86_64.whl (462 kB)
     |████████████████████████████████| 462 kB 2.7 MB/s eta 0:00:01
Installing collected packages: pymongo
Successfully installed pymongo-3.10.1

In [1]:
import pandas as pd

def displayData(data):
    df = pd.DataFrame(data)
    display(df)

## Connecting to Database

In [2]:

from pymongo import MongoClient
client = MongoClient('192.168.1.100:27017')
db = client.admin
serverStatusResult = db.command("serverStatus")
displayData(serverStatusResult)
#print(serverStatusResult)

,host,version,process,pid,uptime,uptimeMillis,uptimeEstimate,localTime,asserts,connections,...,storageEngine,tcmalloc,trafficRecording,transactions,transportSecurity,twoPhaseCommitCoordinator,wiredTiger,mem,metrics,ok
regular,938bc354ce91,4.2.6,mongod,1,37160.0,37160074,37160,2020-04-26 07:13:59.365,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
warning,938bc354ce91,4.2.6,mongod,1,37160.0,37160074,37160,2020-04-26 07:13:59.365,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
msg,938bc354ce91,4.2.6,mongod,1,37160.0,37160074,37160,2020-04-26 07:13:59.365,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
user,938bc354ce91,4.2.6,mongod,1,37160.0,37160074,37160,2020-04-26 07:13:59.365,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
rollovers,938bc354ce91,4.2.6,mongod,1,37160.0,37160074,37160,2020-04-26 07:13:59.365,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
operation,938bc354ce91,4.2.6,mongod,1,37160.0,37160074,37160,2020-04-26 07:13:59.365,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'scanAndOrder': 0, 'writeConflicts': 0}",1.0
queryExecutor,938bc354ce91,4.2.6,mongod,1,37160.0,37160074,37160,2020-04-26 07:13:59.365,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'scanned': 0, 'scannedObjects': 0}",1.0
record,938bc354ce91,4.2.6,mongod,1,37160.0,37160074,37160,2020-04-26 07:13:59.365,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'moves': 0},1.0
repl,938bc354ce91,4.2.6,mongod,1,37160.0,37160074,37160,2020-04-26 07:13:59.365,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'executor': {'pool': {'inProgressCount': 0}, ...",1.0
ttl,938bc354ce91,4.2.6,mongod,1,37160.0,37160074,37160,2020-04-26 07:13:59.365,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'deletedDocuments': 0, 'passes': 87}",1.0

## Create Database

In [ ]:
db = client.business # do not  worry, just use it

## Insert into Database

In [9]:
from random import randint
db = client.business
#Step 2: Create sample data
names = ['Kitchen','Animal','State', 'Tastey', 'Big','City','Fish', 'Pizza','Goat', 'Salty','Sandwich','Lazy', 'Fun']
company_type = ['LLC','Inc','Company','Corporation']
company_cuisine = ['Pizza', 'Bar Food', 'Fast Food', 'Italian', 'Mexican', 'American', 'Sushi Bar', 'Vegetarian']
for x in range(1, 501):
    business = {
        'name' : names[randint(0, (len(names)-1))] + ' ' + names[randint(0, (len(names)-1))]  + ' ' + company_type[randint(0, (len(company_type)-1))],
        'rating' : randint(1, 5),
        'cuisine' : company_cuisine[randint(0, (len(company_cuisine)-1))] 
    }
    #Step 3: Insert business object directly into MongoDB via isnert_one
    result = db.reviews.insert_one(business)
    print('.', end='')
    
#Step 5: Tell us that you are done
print('finished creating 500 business reviews')

....................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................finished creating 500 business reviews

## Select from Database

### Select One

In [3]:
fivestar = db.reviews.find_one({'rating': 6})
print(fivestar)

None

### Select Many

In [14]:
fivestars = db.reviews.find({'rating': 5})
print(fivestars)
displayData(fivestars)

<pymongo.cursor.Cursor object at 0x7f6cd441fd50>

,_id,name,rating,cuisine
0,5e9f288dc94492f18c4ec9b4,Goat Goat LLC,5,American
1,5e9f288dc94492f18c4ec9b8,City Sandwich Inc,5,Bar Food
2,5e9f288dc94492f18c4ec9bb,Pizza Kitchen LLC,5,Italian
3,5e9f288dc94492f18c4ec9c0,Sandwich Sandwich Corporation,5,Fast Food
4,5e9f288dc94492f18c4ec9c1,State Kitchen Inc,5,Fast Food
...,...,...,...,...
197,5e9f28dcc94492f18c4ecd65,Tastey Lazy Company,5,Pizza
198,5e9f28dcc94492f18c4ecd66,Sandwich Lazy Corporation,5,Fast Food
199,5e9f28dcc94492f18c4ecd6d,Sandwich Fun Corporation,5,Sushi Bar
200,5e9f28dcc94492f18c4ecd81,Fun Tastey Corporation,5,Fast Food
201,5e9f28dcc94492f18c4ecd84,Fun Goat Corporation,5,Sushi Bar

In [17]:
db = client.business

print('\nThe sum of each rating occurance across all data grouped by rating ')
stargroup = db.reviews.aggregate(
# The Aggregation Pipeline is defined as an array of different operations
[
# The first stage in this pipe is to group data
{ '$group':
    { '_id': "$rating",
     "count" : 
                 { '$sum' :1 }
    }
},
# The second stage in this pipe is to sort the data
{"$sort":  { "_id":1}
}
# Close the array with the ] tag             
] )
# Print the result
for group in stargroup:
    print(group)

The sum of each rating occurance across all data grouped by rating
{'_id': 1, 'count': 190}
{'_id': 2, 'count': 199}
{'_id': 3, 'count': 214}
{'_id': 4, 'count': 195}
{'_id': 5, 'count': 202}

## Update

In [20]:
ASingleReview = db.reviews.find_one({})
print('A sample document:')
displayData([ASingleReview])

result = db.reviews.update_one({'_id' : ASingleReview.get('_id') }, {'$inc': {'likes': 1}})
print('Number of documents modified : ' + str(result.modified_count))

UpdatedDocument = db.reviews.find_one({'_id':ASingleReview.get('_id')})
displayData([UpdatedDocument])

A sample document:

                        _id                    name  rating     cuisine  likes
0  5e9f288dc94492f18c4ec9b1  Animal Kitchen Company       1  Vegetarian      2

Number of documents modified : 1

                        _id                    name  rating     cuisine  likes
0  5e9f288dc94492f18c4ec9b1  Animal Kitchen Company       1  Vegetarian      3