# NOSQL Databáze

MongoDb, CouchDb jsou databáze, které pracují s dokumenty / datovými strukturami (např. JSON).

https://www.freelancinggig.com/blog/2018/04/19/couchdb-vs-mongodb-understanding-difference/

Speciálními případy jsou databáze typu Neo4j nebo Redis.

> **Přečíst povinně**
>
> https://en.wikipedia.org/wiki/Graph_database

> **Přečíst volitelně**
>
> https://neo4j.com/download-center/?ref=web-product-database/#community
>
> https://redis.io/

## MongoDB

https://motor.readthedocs.io/en/stable/tutorial-asyncio.html

> **Dopo video**
>
> [MongoDB with Python Crash Course - Tutorial for Beginners 2h](https://www.youtube.com/watch?v=E-1xI85Zog8)

In [3]:
!pip install motor

Collecting motor
  Downloading motor-2.3.1-py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 53 kB/s  eta 0:00:011
Collecting pymongo<4,>=3.11
  Downloading pymongo-3.11.3-cp38-cp38-manylinux2014_x86_64.whl (531 kB)
     |████████████████████████████████| 531 kB 7.2 MB/s eta 0:00:01
Installing collected packages: pymongo, motor
Successfully installed motor-2.3.1 pymongo-3.11.3

In [18]:
import getpass
mongoPassword = getpass.getpass()

 ·········

In [4]:
import motor.motor_asyncio

In [5]:
client = motor.motor_asyncio.AsyncIOMotorClient('mongo', 27017)

In [6]:
print(client)

AsyncIOMotorClient(MongoClient(host=['mongo:27017'], document_class=dict, tz_aware=False, connect=False, driver=DriverInfo(name='Motor', version='2.3.1', platform='asyncio')))

In [13]:
import pandas as pd

def displayData(data):
    df = pd.DataFrame(data)
    display(df)

### Connection

In [20]:
from pymongo import MongoClient
client = MongoClient('mongodb://%s:%s@192.168.1.6:27017' % ('root', mongoPassword))
db = client.admin
serverStatusResult = db.command("serverStatus")
displayData(serverStatusResult)

,host,version,process,pid,uptime,uptimeMillis,uptimeEstimate,localTime,asserts,connections,...,storageEngine,tcmalloc,trafficRecording,transactions,transportSecurity,twoPhaseCommitCoordinator,wiredTiger,mem,metrics,ok
regular,mongo,4.2.7,mongod,1,172051.0,172051422,172051,2021-04-08 08:33:51.495,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
warning,mongo,4.2.7,mongod,1,172051.0,172051422,172051,2021-04-08 08:33:51.495,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
msg,mongo,4.2.7,mongod,1,172051.0,172051422,172051,2021-04-08 08:33:51.495,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
user,mongo,4.2.7,mongod,1,172051.0,172051422,172051,2021-04-08 08:33:51.495,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
rollovers,mongo,4.2.7,mongod,1,172051.0,172051422,172051,2021-04-08 08:33:51.495,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
operation,mongo,4.2.7,mongod,1,172051.0,172051422,172051,2021-04-08 08:33:51.495,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'scanAndOrder': 0, 'writeConflicts': 0}",1.0
queryExecutor,mongo,4.2.7,mongod,1,172051.0,172051422,172051,2021-04-08 08:33:51.495,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'scanned': 0, 'scannedObjects': 0}",1.0
record,mongo,4.2.7,mongod,1,172051.0,172051422,172051,2021-04-08 08:33:51.495,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'moves': 0},1.0
repl,mongo,4.2.7,mongod,1,172051.0,172051422,172051,2021-04-08 08:33:51.495,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'executor': {'pool': {'inProgressCount': 0}, ...",1.0
ttl,mongo,4.2.7,mongod,1,172051.0,172051422,172051,2021-04-08 08:33:51.495,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'deletedDocuments': 0, 'passes': 2867}",1.0

### Connection Async

In [21]:
#uri = "mongodb://user:pass@localhost:27017/database_name"
uri = f"mongodb://root:{mongoPassword}@192.168.1.6:27017"
client = motor.motor_tornado.MotorClient(uri)
print(client)
dbs = list(await client.list_database_names())
print(dbs)

MotorClient(MongoClient(host=['192.168.1.6:27017'], document_class=dict, tz_aware=False, connect=False, driver=DriverInfo(name='Motor', version='2.3.1', platform='Tornado 6.1')))
['admin', 'calendar', 'config', 'internetArticles', 'local']

In [22]:
db = client['test_database']

In [23]:
result = await db.create_collection('test_collection')
print(result)

MotorCollection(Collection(Database(MongoClient(host=['192.168.1.6:27017'], document_class=dict, tz_aware=False, connect=False, driver=DriverInfo(name='Motor', version='2.3.1', platform='Tornado 6.1')), 'test_database'), 'test_collection'))

### Create

In [34]:
collection = db['test_collection']

async def do_insert():
    for i in range(10):
        document = {'key': 'value', 'i': i}
        result = await db.test_collection.insert_one(document)
        print('result %s' % result)

await do_insert()

AttributeError: 'InsertOneResult' object has no attribute 'id'

### Read

In [35]:
async def do_find_one():
    document = await db.test_collection.find_one({'i': {'$lt': 5}})
    print(document)
    
await do_find_one()

{'_id': ObjectId('606ec0a26b84c76e2a735461'), 'key': 'value', 'i': 0}

In [36]:
async def do_find():
    cursor = db.test_collection.find({'i': {'$lt': 5}}).sort('i')
    documents = await cursor.to_list(length=100)
    for document in documents:
        print(document)
        
await do_find()

{'_id': ObjectId('606ec0a26b84c76e2a735461'), 'key': 'value', 'i': 0}
{'_id': ObjectId('606ecb166b84c76e2a735462'), 'key': 'value', 'i': 0}
{'_id': ObjectId('606ecb4f6b84c76e2a735463'), 'key': 'value', 'i': 0}
{'_id': ObjectId('606ecb586b84c76e2a73546d'), 'key': 'value', 'i': 0}
{'_id': ObjectId('606ecb4f6b84c76e2a735464'), 'key': 'value', 'i': 1}
{'_id': ObjectId('606ecb4f6b84c76e2a735465'), 'key': 'value', 'i': 2}
{'_id': ObjectId('606ecb4f6b84c76e2a735466'), 'key': 'value', 'i': 3}
{'_id': ObjectId('606ecb4f6b84c76e2a735467'), 'key': 'value', 'i': 4}

In [37]:
async def do_findII():
    c = db.test_collection
    async for document in c.find({'i': {'$lt': 2}}):
        print(document)
        
await do_findII()

{'_id': ObjectId('606ec0a26b84c76e2a735461'), 'key': 'value', 'i': 0}
{'_id': ObjectId('606ecb166b84c76e2a735462'), 'key': 'value', 'i': 0}
{'_id': ObjectId('606ecb4f6b84c76e2a735463'), 'key': 'value', 'i': 0}
{'_id': ObjectId('606ecb4f6b84c76e2a735464'), 'key': 'value', 'i': 1}
{'_id': ObjectId('606ecb586b84c76e2a73546d'), 'key': 'value', 'i': 0}

In [38]:
async def do_findIII():
    cursor = db.test_collection.find({'i': {'$lt': 4}})
    # Modify the query before iterating
    cursor.sort('i', -1).skip(1).limit(2)
    async for document in cursor:
        print(document)
        
await do_findIII()

{'_id': ObjectId('606ecb4f6b84c76e2a735465'), 'key': 'value', 'i': 2}
{'_id': ObjectId('606ecb4f6b84c76e2a735464'), 'key': 'value', 'i': 1}

### Counting

In [39]:
async def do_count():
    n = await db.test_collection.count_documents({})
    print('%s documents in collection' % n)
    n = await db.test_collection.count_documents({'i': {'$gt': 1000}})
    print('%s documents where i > 1000' % n)
    
await do_count()

15 documents in collection
0 documents where i > 1000

### Update

In [41]:
async def do_replace():
    coll = db.test_collection
    old_document = await coll.find_one({'i': 9})
    print('found document: %s' % old_document)
    _id = old_document['_id']
    result = await coll.replace_one({'_id': _id}, {'key': 'newValue'})
    print('replaced %s document' % result.modified_count)
    new_document = await coll.find_one({'_id': _id})
    print('document is now %s' % new_document)
    
await do_replace()

found document: {'_id': ObjectId('606ecb4f6b84c76e2a73546c'), 'key': 'value', 'i': 9}
replaced 1 document
document is now {'_id': ObjectId('606ecb4f6b84c76e2a73546c'), 'key': 'newValue'}

In [43]:
async def do_update():
    coll = db.test_collection
    result = await coll.update_one({'i': 8}, {'$set': {'key': 'replacedValue'}})
    print('updated %s document' % result.modified_count)
    new_document = await coll.find_one({'i': 8})
    print('document is now %s' % new_document)
    
await do_update()

updated 1 document
document is now {'_id': ObjectId('606ecb4f6b84c76e2a73546b'), 'key': 'replacedValue', 'i': 8}

## Map / Reduce

Map - mapování, porvedení funkcí nad datovou strukturou je paralelizovatelný proces.

In [47]:
import random
import string

def randomStr(lenght=10):
    return (''.
        join(random.choice(string.ascii_uppercase) for _ in range(lenght)))

print(randomStr())

UKAKILZUNA

### Map

In [54]:
def intoDict(number):
    return {'id': number}

dataSequence = map(intoDict, range(10))
print(dataSequence)
mappedResult = list(dataSequence)
print(mappedResult)
displayData(mappedResult)

<map object at 0x7fbdfec81d30>
[{'id': 0}, {'id': 1}, {'id': 2}, {'id': 3}, {'id': 4}, {'id': 5}, {'id': 6}, {'id': 7}, {'id': 8}, {'id': 9}]

   id
0   0
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9

In [55]:
def intoDict(number):
    return {'id': number}

def createName(item):
    return {**item, 'name': randomStr()}

dataSequence = map(intoDict, range(10))
mapped = map(createName, dataSequence)
print(mapped)
mappedResult = list(mapped)
print(mappedResult)
displayData(mappedResult)

<map object at 0x7fbdfec81940>
[{'id': 0, 'name': 'PPBNZSXFUC'}, {'id': 1, 'name': 'BUIPWPANKG'}, {'id': 2, 'name': 'URGJAUCNFP'}, {'id': 3, 'name': 'BWXHVSDVUA'}, {'id': 4, 'name': 'MCSWMPMUDM'}, {'id': 5, 'name': 'PAHOFSRKJE'}, {'id': 6, 'name': 'CTBDJRQLYE'}, {'id': 7, 'name': 'FYUTJCZIIE'}, {'id': 8, 'name': 'YDWVECAIMP'}, {'id': 9, 'name': 'OVDYUDUQVQ'}]

   id        name
0   0  PPBNZSXFUC
1   1  BUIPWPANKG
2   2  URGJAUCNFP
3   3  BWXHVSDVUA
4   4  MCSWMPMUDM
5   5  PAHOFSRKJE
6   6  CTBDJRQLYE
7   7  FYUTJCZIIE
8   8  YDWVECAIMP
9   9  OVDYUDUQVQ

In [62]:
def funcReduce(*funcList):
    def result(item):
        resultItem = item
        for func in funcList:
            resultItem = func(resultItem)
        return resultItem
    return result

In [63]:
def intoDict(number):
    return {'id': number}

def createName(item):
    return {**item, 'name': randomStr()}

allOps = funcReduce(intoDict, createName)
mapped = map(allOps, range(10))
print(mapped)
mappedResult = list(mapped)
print(mappedResult)
displayData(mappedResult)

<map object at 0x7fbdb77608b0>
[{'id': 0, 'name': 'JRAYARVUCW'}, {'id': 1, 'name': 'RILXEXAGEL'}, {'id': 2, 'name': 'AYVEZOUFBU'}, {'id': 3, 'name': 'BHNTPZFRIT'}, {'id': 4, 'name': 'FPHUTBCVKG'}, {'id': 5, 'name': 'EHYHNORDPH'}, {'id': 6, 'name': 'NEXAXNORXT'}, {'id': 7, 'name': 'CISXFKUGVO'}, {'id': 8, 'name': 'EUFYCOTYNU'}, {'id': 9, 'name': 'KCHUQFXCYP'}]

   id        name
0   0  JRAYARVUCW
1   1  RILXEXAGEL
2   2  AYVEZOUFBU
3   3  BHNTPZFRIT
4   4  FPHUTBCVKG
5   5  EHYHNORDPH
6   6  NEXAXNORXT
7   7  CISXFKUGVO
8   8  EUFYCOTYNU
9   9  KCHUQFXCYP

### Filter

In [56]:
def justSome(item):
    return item['name'] < 'C'

filteredData = filter(justSome, mappedResult)
print(filteredData)
filteredResult = list(filteredData)
print(filteredResult)
displayData(filteredResult)

<filter object at 0x7fbdfec81c70>
[{'id': 1, 'name': 'BUIPWPANKG'}, {'id': 3, 'name': 'BWXHVSDVUA'}]

   id        name
0   1  BUIPWPANKG
1   3  BWXHVSDVUA

### Reduce

In [60]:
from functools import reduce

def count(acc, item):
    return acc + 1

result = reduce(count, filteredResult, 0)
print(result)

2

In [ ]:
from functools import reduce

def count(acc, item):
    return acc + 1

result = reduce(count, filteredResult, 0)
print(result)