<a href="https://colab.research.google.com/github/hrbolek/learning/blob/master/itsystems/otevrenesystemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Otevřené systémy / Datové struktury

## Úvodní inicializace prostředí

In [ ]:
import pandas as pd
def displayData(data):
  df = pd.DataFrame(data)
  display(df)

## Nástroje pro uchovávání datových struktur

- SQL databáze
    * MSSQL
    * MYSQL / MariaDb
    * Postgress
- NOSQL databáze
    * Mongo
    * CouchDB

## Typy datových struktur z hlediska obsahu

- Homogenní datové struktury
- Heterogenní datové struktury

## Typy datových struktur z hlediska formy

- Binární
- Textové
    - CSV
    - JSON
    - XML

### Binární

Celá řada, pravděpodobně nejznámější jsou:
- EXE, - proveditelný soubor (Executable)
- DOC, - Word, starší řada, dodnes často používán
- ZIP, - původně jen komprimační formát, dnes využíván i jinde, např. DOCX, PPTX jsou ZIP, vyzkoušejte si

### CSV

Textový dokument, tedy člověkem čitelný

Přípona CSV, ale mnohdy i TXT

Asi nejstarší, vychází z homogeních datových struktur

### JSON

Textový dokument, tedy člověkem čitelný

Přípona JSON, ale může být i jiná (ipynb)

#### Data A

In [ ]:
dataStudents = [
  (1,'Monique Davis',400,'Literature','Monique@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
  (2,'Teri Gutierrez',800,'Programming','Teri@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
  (3,'Spencer Pautier',1000,'Programming','Spencer@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
  (4,'Louis Ramsey',1200,'Programming','Louis@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
  (5,'Alvin Greene',1200,'Programming','Alvin@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
  (6,'Sophie Freeman',1200,'Programming','Sophie@someOtherSchool.edu','2017-08-16 15:34:50','2017-09-02 19:33:56'),
  (7,'Edgar Frank \"Ted\" \"Codd\"',2400,'Computer Science','Edgar@someOtherSchool.edu','2017-08-16 15:35:33','2017-09-02 19:33:56'),
  (8,'Donald D. Chamberlin',2400,'Computer Science','Donald@someOtherSchool.edu','2017-08-16 15:35:33','2017-09-02 19:33:56'),
  (9,'Raymond F. Boyce',2400,'Computer Science','Raymond@someOtherSchool.edu','2017-08-16 15:35:33','2017-09-02 19:33:56')]

namesStudents = ['studentID', 'FullName', 'sat_score', 'programOfStudy', 'schoolEmailAdr', 'rcd_Created', 'rcd_Updated']

#### Konverzní funkce

In [ ]:
def tuple2dictionary(names, item):
    return dict(zip(names, item))

def tuple2dictionarySeq(names, sequence):
    for item in sequence:
        yield tuple2dictionary(names, item)

#### Konverze

In [ ]:
namedStudents = list(tuple2dictionarySeq(namesStudents, dataStudents))
namedStudents

[{'studentID': 1,
  'FullName': 'Monique Davis',
  'sat_score': 400,
  'programOfStudy': 'Literature',
  'schoolEmailAdr': 'Monique@someOtherSchool.edu',
  'rcd_Created': '2017-08-16 15:34:50',
  'rcd_Updated': '2017-09-02 19:33:56'},
 {'studentID': 2,
  'FullName': 'Teri Gutierrez',
  'sat_score': 800,
  'programOfStudy': 'Programming',
  'schoolEmailAdr': 'Teri@someOtherSchool.edu',
  'rcd_Created': '2017-08-16 15:34:50',
  'rcd_Updated': '2017-09-02 19:33:56'},
 {'studentID': 3,
  'FullName': 'Spencer Pautier',
  'sat_score': 1000,
  'programOfStudy': 'Programming',
  'schoolEmailAdr': 'Spencer@someOtherSchool.edu',
  'rcd_Created': '2017-08-16 15:34:50',
  'rcd_Updated': '2017-09-02 19:33:56'},
 {'studentID': 4,
  'FullName': 'Louis Ramsey',
  'sat_score': 1200,
  'programOfStudy': 'Programming',
  'schoolEmailAdr': 'Louis@someOtherSchool.edu',
  'rcd_Created': '2017-08-16 15:34:50',
  'rcd_Updated': '2017-09-02 19:33:56'},
 {'studentID': 5,
  'FullName': 'Alvin Greene',
  'sat_score': 1200,
  'programOfStudy': 'Programming',
  'schoolEmailAdr': 'Alvin@someOtherSchool.edu',
  'rcd_Created': '2017-08-16 15:34:50',
  'rcd_Updated': '2017-09-02 19:33:56'},
 {'studentID': 6,
  'FullName': 'Sophie Freeman',
  'sat_score': 1200,
  'programOfStudy': 'Programming',
  'schoolEmailAdr': 'Sophie@someOtherSchool.edu',
  'rcd_Created': '2017-08-16 15:34:50',
  'rcd_Updated': '2017-09-02 19:33:56'},
 {'studentID': 7,
  'FullName': 'Edgar Frank "Ted" "Codd"',
  'sat_score': 2400,
  'programOfStudy': 'Computer Science',
  'schoolEmailAdr': 'Edgar@someOtherSchool.edu',
  'rcd_Created': '2017-08-16 15:35:33',
  'rcd_Updated': '2017-09-02 19:33:56'},
 {'studentID': 8,
  'FullName': 'Donald D. Chamberlin',
  'sat_score': 2400,
  'programOfStudy': 'Computer Science',
  'schoolEmailAdr': 'Donald@someOtherSchool.edu',
  'rcd_Created': '2017-08-16 15:35:33',
  'rcd_Updated': '2017-09-02 19:33:56'},
 {'studentID': 9,
  'FullName': 'Raymond F. Boyce',
  'sat_score': 2400,
  'programOfStudy': 'Computer Science',
  'schoolEmailAdr': 'Raymond@someOtherSchool.edu',
  'rcd_Created': '2017-08-16 15:35:33',
  'rcd_Updated': '2017-09-02 19:33:56'}]

#### Zobrazení dat ve fromě tabulky

In [ ]:
displayData(namedStudents)

,studentID,FullName,sat_score,programOfStudy,schoolEmailAdr,rcd_Created,rcd_Updated
0,1,Monique Davis,400,Literature,Monique@someOtherSchool.edu,2017-08-16 15:34:50,2017-09-02 19:33:56
1,2,Teri Gutierrez,800,Programming,Teri@someOtherSchool.edu,2017-08-16 15:34:50,2017-09-02 19:33:56
2,3,Spencer Pautier,1000,Programming,Spencer@someOtherSchool.edu,2017-08-16 15:34:50,2017-09-02 19:33:56
3,4,Louis Ramsey,1200,Programming,Louis@someOtherSchool.edu,2017-08-16 15:34:50,2017-09-02 19:33:56
4,5,Alvin Greene,1200,Programming,Alvin@someOtherSchool.edu,2017-08-16 15:34:50,2017-09-02 19:33:56
5,6,Sophie Freeman,1200,Programming,Sophie@someOtherSchool.edu,2017-08-16 15:34:50,2017-09-02 19:33:56
6,7,"Edgar Frank ""Ted"" ""Codd""",2400,Computer Science,Edgar@someOtherSchool.edu,2017-08-16 15:35:33,2017-09-02 19:33:56
7,8,Donald D. Chamberlin,2400,Computer Science,Donald@someOtherSchool.edu,2017-08-16 15:35:33,2017-09-02 19:33:56
8,9,Raymond F. Boyce,2400,Computer Science,Raymond@someOtherSchool.edu,2017-08-16 15:35:33,2017-09-02 19:33:56

#### Data B

In [ ]:
dataContactInfo = [
  (1,'Monique.Davis@freeCodeCamp.org','555-555-5551',97111),
  (2,'Teri.Gutierrez@freeCodeCamp.org','555-555-5552',97112),
  (3,'Spencer.Pautier@freeCodeCamp.org','555-555-5553',97113),
  (4,'Louis.Ramsey@freeCodeCamp.org','555-555-5554',0),
  (5,'Alvin.Green@freeCodeCamp.org','555-555-5555',97115),
  (6,'Sophie.Freeman@freeCodeCamp.org','555-555-5556',97116),
  (7,'Maximo.Smith@freeCodeCamp.org','555-555-5557',97117),
  (8,'Michael.Roach@freeCodeCamp.ort','555-555-5558',97118)
]

namesContacts = ['studentID', 'studentEmailAddr',  'student-phone-cell', 'student-US-zipcode']

#### Konverze

In [ ]:
namedContacts = list(tuple2dictionarySeq(namesContacts, dataContactInfo))
namedContacts

[{'studentID': 1,
  'studentEmailAddr': 'Monique.Davis@freeCodeCamp.org',
  'student-phone-cell': '555-555-5551',
  'student-US-zipcode': 97111},
 {'studentID': 2,
  'studentEmailAddr': 'Teri.Gutierrez@freeCodeCamp.org',
  'student-phone-cell': '555-555-5552',
  'student-US-zipcode': 97112},
 {'studentID': 3,
  'studentEmailAddr': 'Spencer.Pautier@freeCodeCamp.org',
  'student-phone-cell': '555-555-5553',
  'student-US-zipcode': 97113},
 {'studentID': 4,
  'studentEmailAddr': 'Louis.Ramsey@freeCodeCamp.org',
  'student-phone-cell': '555-555-5554',
  'student-US-zipcode': 0},
 {'studentID': 5,
  'studentEmailAddr': 'Alvin.Green@freeCodeCamp.org',
  'student-phone-cell': '555-555-5555',
  'student-US-zipcode': 97115},
 {'studentID': 6,
  'studentEmailAddr': 'Sophie.Freeman@freeCodeCamp.org',
  'student-phone-cell': '555-555-5556',
  'student-US-zipcode': 97116},
 {'studentID': 7,
  'studentEmailAddr': 'Maximo.Smith@freeCodeCamp.org',
  'student-phone-cell': '555-555-5557',
  'student-US-zipcode': 97117},
 {'studentID': 8,
  'studentEmailAddr': 'Michael.Roach@freeCodeCamp.ort',
  'student-phone-cell': '555-555-5558',
  'student-US-zipcode': 97118}]

#### Data ve fromě tabulky

In [ ]:
displayData(namedContacts)

,studentID,studentEmailAddr,student-phone-cell,student-US-zipcode
0,1,Monique.Davis@freeCodeCamp.org,555-555-5551,97111
1,2,Teri.Gutierrez@freeCodeCamp.org,555-555-5552,97112
2,3,Spencer.Pautier@freeCodeCamp.org,555-555-5553,97113
3,4,Louis.Ramsey@freeCodeCamp.org,555-555-5554,0
4,5,Alvin.Green@freeCodeCamp.org,555-555-5555,97115
5,6,Sophie.Freeman@freeCodeCamp.org,555-555-5556,97116
6,7,Maximo.Smith@freeCodeCamp.org,555-555-5557,97117
7,8,Michael.Roach@freeCodeCamp.ort,555-555-5558,97118

### CSV podruhé

In [ ]:
dataFrame = pd.DataFrame(namedContacts)
csv = dataFrame.to_csv(index = False, sep=';', quoting=2)
print(csv)

"studentID";"studentEmailAddr";"student-phone-cell";"student-US-zipcode"
1;"Monique.Davis@freeCodeCamp.org";"555-555-5551";97111
2;"Teri.Gutierrez@freeCodeCamp.org";"555-555-5552";97112
3;"Spencer.Pautier@freeCodeCamp.org";"555-555-5553";97113
4;"Louis.Ramsey@freeCodeCamp.org";"555-555-5554";0
5;"Alvin.Green@freeCodeCamp.org";"555-555-5555";97115
6;"Sophie.Freeman@freeCodeCamp.org";"555-555-5556";97116
7;"Maximo.Smith@freeCodeCamp.org";"555-555-5557";97117
8;"Michael.Roach@freeCodeCamp.ort";"555-555-5558";97118

### XML

#### Instalace kniuhovny pro operace nad XML

In [ ]:
!pip install json2xml

Collecting json2xml
  Downloading json2xml-3.5.0-py2.py3-none-any.whl (4.6 kB)
Collecting dicttoxml==1.7.4
  Downloading dicttoxml-1.7.4.tar.gz (18 kB)
Collecting xmltodict==0.11.0
  Downloading xmltodict-0.11.0-py2.py3-none-any.whl (7.2 kB)
Requirement already satisfied: requests>=2.20.0 in /opt/conda/lib/python3.8/site-packages (from json2xml) (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests>=2.20.0->json2xml) (1.25.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests>=2.20.0->json2xml) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests>=2.20.0->json2xml) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests>=2.20.0->json2xml) (2.10)
Building wheels for collected packages: dicttoxml
  Building wheel for dicttoxml (setup.py) ... done
  Created wheel for dicttoxml: filename=dicttoxml-1.7.4-py3-none-any.whl size=17452 sha256=cdfb7951ee94fd8c558a8fd650992af8be5465a7a096cf45c2732ac74f0a3c32
  Stored in directory: /home/jovyan/.cache/pip/wheels/6c/32/1d/09f338b837cdbb71f8889b866d50db3e0eaa02b8fc2be4c943
Successfully built dicttoxml
Installing collected packages: dicttoxml, xmltodict, json2xml
Successfully installed dicttoxml-1.7.4 json2xml-3.5.0 xmltodict-0.11.0

In [ ]:
from json2xml import json2xml
from json2xml.utils import readfromurl, readfromstring, readfromjson

#### Převod na XML

In [ ]:
dataAsXml = json2xml.Json2xml(namedStudents, wrapper="students", pretty=True).to_xml()
print(dataAsXml)

<?xml version="1.0" ?>
<students>
	<item type="dict">
		<studentID type="int">1</studentID>
		<FullName type="str">Monique Davis</FullName>
		<sat_score type="int">400</sat_score>
		<programOfStudy type="str">Literature</programOfStudy>
		<schoolEmailAdr type="str">Monique@someOtherSchool.edu</schoolEmailAdr>
		<rcd_Created type="str">2017-08-16 15:34:50</rcd_Created>
		<rcd_Updated type="str">2017-09-02 19:33:56</rcd_Updated>
	</item>
	<item type="dict">
		<studentID type="int">2</studentID>
		<FullName type="str">Teri Gutierrez</FullName>
		<sat_score type="int">800</sat_score>
		<programOfStudy type="str">Programming</programOfStudy>
		<schoolEmailAdr type="str">Teri@someOtherSchool.edu</schoolEmailAdr>
		<rcd_Created type="str">2017-08-16 15:34:50</rcd_Created>
		<rcd_Updated type="str">2017-09-02 19:33:56</rcd_Updated>
	</item>
	<item type="dict">
		<studentID type="int">3</studentID>
		<FullName type="str">Spencer Pautier</FullName>
		<sat_score type="int">1000</sat_score>
		<programOfStudy type="str">Programming</programOfStudy>
		<schoolEmailAdr type="str">Spencer@someOtherSchool.edu</schoolEmailAdr>
		<rcd_Created type="str">2017-08-16 15:34:50</rcd_Created>
		<rcd_Updated type="str">2017-09-02 19:33:56</rcd_Updated>
	</item>
	<item type="dict">
		<studentID type="int">4</studentID>
		<FullName type="str">Louis Ramsey</FullName>
		<sat_score type="int">1200</sat_score>
		<programOfStudy type="str">Programming</programOfStudy>
		<schoolEmailAdr type="str">Louis@someOtherSchool.edu</schoolEmailAdr>
		<rcd_Created type="str">2017-08-16 15:34:50</rcd_Created>
		<rcd_Updated type="str">2017-09-02 19:33:56</rcd_Updated>
	</item>
	<item type="dict">
		<studentID type="int">5</studentID>
		<FullName type="str">Alvin Greene</FullName>
		<sat_score type="int">1200</sat_score>
		<programOfStudy type="str">Programming</programOfStudy>
		<schoolEmailAdr type="str">Alvin@someOtherSchool.edu</schoolEmailAdr>
		<rcd_Created type="str">2017-08-16 15:34:50</rcd_Created>
		<rcd_Updated type="str">2017-09-02 19:33:56</rcd_Updated>
	</item>
	<item type="dict">
		<studentID type="int">6</studentID>
		<FullName type="str">Sophie Freeman</FullName>
		<sat_score type="int">1200</sat_score>
		<programOfStudy type="str">Programming</programOfStudy>
		<schoolEmailAdr type="str">Sophie@someOtherSchool.edu</schoolEmailAdr>
		<rcd_Created type="str">2017-08-16 15:34:50</rcd_Created>
		<rcd_Updated type="str">2017-09-02 19:33:56</rcd_Updated>
	</item>
	<item type="dict">
		<studentID type="int">7</studentID>
		<FullName type="str">Edgar Frank &quot;Ted&quot; &quot;Codd&quot;</FullName>
		<sat_score type="int">2400</sat_score>
		<programOfStudy type="str">Computer Science</programOfStudy>
		<schoolEmailAdr type="str">Edgar@someOtherSchool.edu</schoolEmailAdr>
		<rcd_Created type="str">2017-08-16 15:35:33</rcd_Created>
		<rcd_Updated type="str">2017-09-02 19:33:56</rcd_Updated>
	</item>
	<item type="dict">
		<studentID type="int">8</studentID>
		<FullName type="str">Donald D. Chamberlin</FullName>
		<sat_score type="int">2400</sat_score>
		<programOfStudy type="str">Computer Science</programOfStudy>
		<schoolEmailAdr type="str">Donald@someOtherSchool.edu</schoolEmailAdr>
		<rcd_Created type="str">2017-08-16 15:35:33</rcd_Created>
		<rcd_Updated type="str">2017-09-02 19:33:56</rcd_Updated>
	</item>
	<item type="dict">
		<studentID type="int">9</studentID>
		<FullName type="str">Raymond F. Boyce</FullName>
		<sat_score type="int">2400</sat_score>
		<programOfStudy type="str">Computer Science</programOfStudy>
		<schoolEmailAdr type="str">Raymond@someOtherSchool.edu</schoolEmailAdr>
		<rcd_Created type="str">2017-08-16 15:35:33</rcd_Created>
		<rcd_Updated type="str">2017-09-02 19:33:56</rcd_Updated>
	</item>
</students>